<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bomberwalkdown1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkdown2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{0,66},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkdown3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{0,132},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkdown4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{0,198},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkdown5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{0,264},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkdown6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{0,330},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkleft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,396},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkleft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,470},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkleft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,544},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkleft4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,618},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkleft5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,692},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkleft6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,766},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkright1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{0,840},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkright2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{0,917},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkright3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{0,994},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkright4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{0,1071},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkright5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{0,1148},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkright6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{0,1225},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkup1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{0,1302},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{0,1371},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkup3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{0,1440},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkup4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{0,1509},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkup5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{0,1578},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomberwalkup6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{0,1647},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anims.png</string>
            <key>size</key>
            <string>{64,1716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c0b8c9b7736bc61d3a0596bd0c4f708:386ffa4118bb42ab1028020019ab14db:a5eb58f8b8ac425a4536f17023b9d3af$</string>
            <key>textureFileName</key>
            <string>anims.png</string>
        </dict>
    </dict>
</plist>
