<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Death-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{64,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{64,82}</string>
                <key>textureRect</key>
                <string>{{0,82},{64,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{64,82}</string>
                <key>textureRect</key>
                <string>{{0,164},{64,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{64,82}</string>
                <key>textureRect</key>
                <string>{{0,246},{64,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{64,82}</string>
                <key>textureRect</key>
                <string>{{0,328},{64,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{64,82}</string>
                <key>textureRect</key>
                <string>{{0,410},{64,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{64,82}</string>
                <key>textureRect</key>
                <string>{{0,492},{64,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Death.png</string>
            <key>size</key>
            <string>{64,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3935bcd187616349db40725bb835424f:3141b64b07e743a9a01fc96b53dee790:134a4a57713f4fd0f120e02a9a98e5b0$</string>
            <key>textureFileName</key>
            <string>Death.png</string>
        </dict>
    </dict>
</plist>
