<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walk_s-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_s-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{0,66},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_s-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{0,132},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_s-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{0,198},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_s-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{0,264},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_s-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{0,330},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Walk_s.png</string>
            <key>size</key>
            <string>{64,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72ab7e7947a2674232ed67a18b6185e8:9ff67137dc8d140ded308626689a0176:c4cb851ae6a48c54c83fe5d7a0819aa7$</string>
            <key>textureFileName</key>
            <string>Walk_s.png</string>
        </dict>
    </dict>
</plist>
