<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walk_w-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_w-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,74},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_w-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,148},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_w-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,222},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_w-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,296},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_w-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,370},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Walk_w.png</string>
            <key>size</key>
            <string>{64,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:901191eeb04f5cfa013e0e02b2074a15:8ed3bbe006d7ccf0d1a39348fc056e6e:cb663ab94bfa62592212ae3e7c572f5d$</string>
            <key>textureFileName</key>
            <string>Walk_w.png</string>
        </dict>
    </dict>
</plist>
