<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Archerattackdown1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,63}</string>
                <key>spriteSourceSize</key>
                <string>{58,63}</string>
                <key>textureRect</key>
                <string>{{314,174},{58,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackdown2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,66}</string>
                <key>spriteSourceSize</key>
                <string>{43,66}</string>
                <key>textureRect</key>
                <string>{{462,174},{43,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackdown3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,64}</string>
                <key>spriteSourceSize</key>
                <string>{43,64}</string>
                <key>textureRect</key>
                <string>{{419,174},{43,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackdown4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,63}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{372,174},{47,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackleft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,55}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackleft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{178,55},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackleft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{70,0},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackleft4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{126,0},{58,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackright1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,55}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{184,0},{70,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackright2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{234,55},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackright3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{254,0},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackright4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{310,0},{58,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackup1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,75}</string>
                <key>spriteSourceSize</key>
                <string>{41,75}</string>
                <key>textureRect</key>
                <string>{{447,240},{41,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,70}</string>
                <key>spriteSourceSize</key>
                <string>{34,70}</string>
                <key>textureRect</key>
                <string>{{249,240},{34,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackup3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{0,240},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerattackup4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,68}</string>
                <key>spriteSourceSize</key>
                <string>{51,68}</string>
                <key>textureRect</key>
                <string>{{42,240},{51,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkdown1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{202,174},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkdown2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,62}</string>
                <key>spriteSourceSize</key>
                <string>{55,62}</string>
                <key>textureRect</key>
                <string>{{259,174},{55,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkdown3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,58}</string>
                <key>textureRect</key>
                <string>{{452,55},{53,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkdown4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{290,55},{52,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkdown5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,60}</string>
                <key>spriteSourceSize</key>
                <string>{51,60}</string>
                <key>textureRect</key>
                <string>{{233,113},{51,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkdown6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{183,113},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkdown7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{0,55},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkdown8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,58}</string>
                <key>textureRect</key>
                <string>{{0,113},{53,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkleft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{50,55},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkleft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,58}</string>
                <key>spriteSourceSize</key>
                <string>{65,58}</string>
                <key>textureRect</key>
                <string>{{53,113},{65,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkleft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{284,113},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkleft4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,61}</string>
                <key>spriteSourceSize</key>
                <string>{50,61}</string>
                <key>textureRect</key>
                <string>{{392,113},{50,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkleft5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{55,57}</string>
                <key>textureRect</key>
                <string>{{342,55},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkleft6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{368,0},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkleft7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{442,113},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkleft8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,61}</string>
                <key>spriteSourceSize</key>
                <string>{50,61}</string>
                <key>textureRect</key>
                <string>{{0,174},{50,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkright1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{114,55},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkright2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,58}</string>
                <key>spriteSourceSize</key>
                <string>{65,58}</string>
                <key>textureRect</key>
                <string>{{118,113},{65,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkright3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{338,113},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkright4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,61}</string>
                <key>spriteSourceSize</key>
                <string>{50,61}</string>
                <key>textureRect</key>
                <string>{{50,174},{50,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkright5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{55,57}</string>
                <key>textureRect</key>
                <string>{{397,55},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkright6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{424,0},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkright7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{100,174},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkright8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,61}</string>
                <key>spriteSourceSize</key>
                <string>{50,61}</string>
                <key>textureRect</key>
                <string>{{152,174},{50,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkup1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,69}</string>
                <key>spriteSourceSize</key>
                <string>{39,69}</string>
                <key>textureRect</key>
                <string>{{93,240},{39,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,70}</string>
                <key>spriteSourceSize</key>
                <string>{41,70}</string>
                <key>textureRect</key>
                <string>{{283,240},{41,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkup3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,69}</string>
                <key>spriteSourceSize</key>
                <string>{39,69}</string>
                <key>textureRect</key>
                <string>{{132,240},{39,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkup4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,70}</string>
                <key>spriteSourceSize</key>
                <string>{41,70}</string>
                <key>textureRect</key>
                <string>{{324,240},{41,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkup5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,69}</string>
                <key>spriteSourceSize</key>
                <string>{39,69}</string>
                <key>textureRect</key>
                <string>{{171,240},{39,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkup6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,70}</string>
                <key>spriteSourceSize</key>
                <string>{41,70}</string>
                <key>textureRect</key>
                <string>{{365,240},{41,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkup7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,69}</string>
                <key>spriteSourceSize</key>
                <string>{39,69}</string>
                <key>textureRect</key>
                <string>{{210,240},{39,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archerwalkup8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,70}</string>
                <key>spriteSourceSize</key>
                <string>{41,70}</string>
                <key>textureRect</key>
                <string>{{406,240},{41,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anims.png</string>
            <key>size</key>
            <string>{505,315}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d5b10a41968eb9a72e5c5439d1aff37:5b561539f012a429a9d45f6aeada4454:a5eb58f8b8ac425a4536f17023b9d3af$</string>
            <key>textureFileName</key>
            <string>anims.png</string>
        </dict>
    </dict>
</plist>
